@import "tailwindcss";


@theme {
  --font-inter: "Inter", var(--font-inter), ui-sans-serif, system-ui;
}


html {
  font-family: var(--font-inter), ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-sans);
}

/* globals.css */

.sidebar {
  @apply bg-black text-white min-h-screen w-64 fixed top-0 left-0;
}

.main-content {
  @apply ml-64;
}
